table {
  width: 100%;
}

button:first-of-type {
  margin-right: 1rem;
}

mat-card {
  width: 95vw;
  margin: 0 auto;
  padding: 1rem;
}

mat-card-title {
  color: var(--mat-sys-primary);
  padding-bottom: 0.5rem;
}
